body { 
  padding-top: 150px; 
  }

#imageGallery {
list-style: none;
padding-left: 70px;
}

.wwa {
  padding-left: 100px;  
}


.wws {
  list-style: none;
  padding-left: 100px;
}

.copyRight {
  text-align: center;
}

.test  {
  padding-left: 70px;
}

#imageGallery li {
  float: left;
  width: 100%;
  }

.follow {
  background-color: #0054A6;
  text-align: right;
  list-style: none;
  width: 100%;
  margin-left: -20px;
  margin-top: 60px;
}

.RDS {
  text-align: left;
  color: white;
}
nav li {
  display: inline;
}

  @media screen and (min-width: 1200px) {
    
    .toma {
      
    }
  }
 
  
  .FB {
    
  }
  
  
  
  
  
  
  
  