body { 
  padding-top: 150px; 
  }

#imageGallery {
list-style: none;
display: inline-block;
padding-left: 70px;
size: 100%;
}

.wwa {
  padding-left: 100px;  
}


.wws {
  list-style: none;
  padding-left: 100px;
}

.copyRight {
  text-align: center;
}

.test  {
  padding-left: 70px;
}

#imageGallery li {
  float: left;
  width: 100%;
  }

