body { 
  padding-top: 520px; 
  }

#imageGallery {
list-style: none;
padding-left: 70px;
}

.wwa {
  padding-left: 100px;  
  padding-bottom: 380px;
  padding-top: 450px;
}


.wws {
  list-style: none;
  padding-left: 100px;
  padding-top: 350px;
  padding-bottom: 450PX;
}

.copyRight {
  text-align: center;
}

.test  {
  padding-left: 70px;
  padding-top: 400px;
}

#imageGallery li {
  float: left;
  width: 100%;
  }

.follow {
  background-color: #0054A6;
  text-align: center;
  list-style: none;
  width: 100%;
  margin-left: -20px;
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.RDS {
  text-align: center;
  color: white;
}
nav li {
  display: inline;
}

.FB {
  text-align: center;
  padding-left: 50px;
}

.parallax-container {
    padding-top: 10px;
    background: transparent;
}

.parallax-cont {
  padding-top: 10px;
    background: transparent;
}

#social {
  padding-top: 25px;
}

.oops {
  text-align: center;
  font-size: 2em;
  padding-top: 420px;
}

.photo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.photo img {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}